name: CI

on: [push, pull_request]

jobs:
  lua:
    strategy:
      fail-fast: false
      matrix:
        os: [linux, macos, macos-arm64]
        lua: [lua=5.1, lua=5.2, lua=5.3, lua=5.4, luajit=2.0, luajit=2.1]
        include:
        - os: linux
          runner: ubuntu-latest
        - os: macos
          runner: macos-15-intel
        - os: macos-arm64
          runner: macos-latest
        exclude:
        - os: macos-arm64
          lua: luajit=2.0
    name: ${{ matrix.os }} (${{ matrix.lua }})
    runs-on: ${{ matrix.runner }}
    steps:
      # Checks-out the repository under $GITHUB_WORKSPACE.
      - uses: actions/checkout@v6
      - name:  Install libreadline on linux
        run:   |
               if [ "$RUNNER_OS" == "Linux" ]; then
                    sudo apt-get install -y libreadline-dev
               fi
        shell: bash

      - name: Install Lua (${{ matrix.lua }})
        run: |
          pip install git+https://github.com/luarocks/hererocks
          hererocks lua_install -r^ --${{ matrix.lua }}
        env:
          MACOSX_DEPLOYMENT_TARGET: 11.0
      - name: Build lua-simdjson
        run: |
          source lua_install/bin/activate
          luarocks make
      - name: Run tests
        run: |
          source lua_install/bin/activate
          luarocks install lua-cjson2
          luarocks install busted
          busted --verbose

  windows:
    strategy:
      fail-fast: false
      matrix:
        lua: [lua=5.1, lua=5.2, lua=5.3, lua=5.4, luajit=2.0, luajit=2.1]
        target: [mingw,vs]
    runs-on: windows-2022
    steps:
      # Checks-out the repository under $GITHUB_WORKSPACE.
      - uses: actions/checkout@v6
      - name: Install Lua (${{ matrix.lua }})
        run: |
          pip install git+https://github.com/luarocks/hererocks
          hererocks lua_install -r^ --${{ matrix.lua }} --target ${{ matrix.target }}
      - name: Build lua-simdjson
        run: |
          .\lua_install\bin\activate
          luarocks make
      - name: Run tests
        run: |
          .\lua_install\bin\activate
          luarocks install lua-cjson2
          luarocks install busted
          busted --verbose
